 
*{
    margin:0;
    padding:0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS", 'Helvetica',  sans-serif;
    background: #292929;
} 

/*
 ---Layout---
*/
#area-cabecalho{
    background-color: #555555;
    padding: 15px;
    text-align: center;
}

#area-logo,#area-menu{
    padding: 10px;
}

#area-principal{
    width:920px;
    /*Permite deixar a margem esquerda e direita automática ou seja centralizado*/
    margin: 0 auto;
    padding:15px;
}
#area-lateral{
    background: #f7b600;
}


#area-postagens{
    width:660px;
    float: left;
    color: #d3d3d3;
    
}
.postagem{
    padding: 15px;
    margin-bottom: 20px;
    background: rgb(53, 53, 53);
}

.postagem-lateral{
    font-size: 0.8em;
    padding:5px;
    border-bottom: 1px dotted #a5a5a5;

}
.conteudo-lateral{
    background: rgb(59, 59, 59);
    padding: 10px;
    margin-bottom: 20px;
    color: #dfdfdf;
}

#area-lateral{
    width:240px;
    float: right;
}
#area-rodape{
    clear:both;
    text-align: center;
    padding: 15px;
    background: #ffffff;
}

/*
--Formataçoes gerais ----
*/

h1{
    color:#f7b600;
    font-size:2.5em;
}
h2{
    color:#f7b600;
}

h3{
    color:#ffffff;
    background: #333333;
    padding: 5px;
}
.branco{
    color:rgb(255, 255, 255);

}
.data-postagem{
    font-size:0.8em;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom:  10px;
    display:block;
   
}
/*
--Formatação do menu---
*/
a{
    text-decoration: none;

}
a:link, a:visited{
    color: #f7b600;
    
}
a:hover{
   text-decoration: underline;
}

/*
 Quando é definido #area-cabecalho a:link e assim por diante quer dizer que somente irá atingir a formatação dos links que pertencem a classe do cabeçalho.
*/
#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fafafa;
    padding: 8px 12px;

}

#area-cabecalho a:hover{
    color: #f7b600;
    background: #424242;
    text-decoration: none;

}
/*
    Fim da estilização área principal
*/

